#komunikat[hidden]
{
    display: none;
}
#komunikat,
#tresc,
#przycisk
{
    text-align: center;
    display: block;
    margin: auto;
}
#board
{
    position: relative;
    border-collapse: collapse;
    margin: auto;
    margin-top: 100px;
}

#board:not([move])::before
{
    padding-top: 40%;
    box-sizing: border-box;
    font-size: 20px;
    color: white;
    text-align: center;
    content: "Koniec gry";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

th
{
    border: 1px solid black;
    font-size: 30px;
    width: 80px;
    height: 80px;
}

th:not([pole]):hover
{
    background-color: rgb(250, 250, 250);
    cursor: pointer;
}

th[pole]:hover
{
    background-color: rgb(0, 0, 0);
    cursor: not-allowed;
}

#board[move=x] th:not([pole]):hover::before,
th[pole=x]::before
{
    content: "X";
}

#board[move=o] th:not([pole]):hover::before,
th[pole=o]::before
{
    content: "o";
}
